@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-display: var(--font-excrallik);
  --font-grotesk: var(--font-radio-grostek);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.5rem;
  --background: oklch(0.205 0.025 152.714);
  --foreground: oklch(0.963 0.004 155.121);
  --card: oklch(0.255 0.035 152.328);
  --card-foreground: oklch(0.963 0.004 155.121);
  --popover: oklch(0.255 0.035 152.328);
  --popover-foreground: oklch(0.963 0.004 155.121);
  --primary: oklch(0.535 0.143 148);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.853 0.16 101.523);
  --secondary-foreground: oklch(0.33 0.0494 152.04);
  --muted: oklch(0.294 0.05 149.0555157529581);
  --muted-foreground: oklch(0.741 0.042 151.113);
  --accent: oklch(0.367 0.095 134.778);
  --accent-foreground: oklch(0.928 0.007 131.156);
  --destructive: oklch(0.58 0.237 28.43);
  --border: oklch(0.405 0.064 151.78);
  --input: oklch(0.405 0.064 151.78);
  --ring: oklch(0.535 0.143 148.001);
  --chart-1: oklch(0.535 0.143 148.001);
  --chart-2: oklch(0.728 0.205 147.238);
  --chart-3: oklch(0.806 0.212 148.17);
  --chart-4: oklch(0.443 0.106 149.153);
  --chart-5: oklch(0.305 0.06 150.671);
  --sidebar: oklch(0.349 0.053 151.924);
  --sidebar-foreground: oklch(0.963 0.004 155.121);
  --sidebar-primary: oklch(0.535 0.143 148.001);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.367 0.095 134.778);
  --sidebar-accent-foreground: oklch(0.928 0.007 131.155);
  --sidebar-border: oklch(0.405 0.064 151.78);
  --sidebar-ring: oklch(0.535 0.143 148.001);
}

.dark {
  --background: oklch(0.205 0.025 152.714);
  --foreground: oklch(0.963 0.004 155.121);
  --card: oklch(0.255 0.035 152.328);
  --card-foreground: oklch(0.963 0.004 155.121);
  --popover: oklch(0.255 0.035 152.328);
  --popover-foreground: oklch(0.963 0.004 155.121);
  --primary: oklch(0.535 0.143 148);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.294 0.05 149.055);
  --secondary-foreground: oklch(0.926 0.008 151.88);
  --muted: oklch(0.294 0.05 149.0556);
  --muted-foreground: oklch(0.741 0.042 151.113);
  --accent: oklch(0.367 0.095 134.778);
  --accent-foreground: oklch(0.928 0.007 131.156);
  --destructive: oklch(0.58 0.237 28.43);
  --border: oklch(0.405 0.064 151.78);
  --input: oklch(0.405 0.064 151.78);
  --ring: oklch(0.535 0.143 148.001);
  --chart-1: oklch(0.535 0.143 148.001);
  --chart-2: oklch(0.728 0.205 147.238);
  --chart-3: oklch(0.806 0.212 148.17);
  --chart-4: oklch(0.443 0.106 149.153);
  --chart-5: oklch(0.305 0.06 150.671);
  --sidebar: oklch(0.349 0.053 151.924);
  --sidebar-foreground: oklch(0.963 0.004 155.121);
  --sidebar-primary: oklch(0.535 0.143 148.001);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.367 0.095 134.778);
  --sidebar-accent-foreground: oklch(0.928 0.007 131.155);
  --sidebar-border: oklch(0.405 0.064 151.78);
  --sidebar-ring: oklch(0.535 0.143 148.001);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1.5rem;

  @media (width >= 80rem /* 1280px */) {
    padding-inline: 3.5rem;
  }
  @media (width >= 96rem /* 1536px */) {
    padding-inline: 6rem;
  }
}

.book-container {
  --book-width: 350px;
  --book-height: 500px;

  @media (width >= 40rem /* 1280px */) {
    --book-width: 400px;
    --book-height: 550px;
  }

  z-index: 1;
  perspective: 3000px;
}

.book-container .book {
  --shadow: oklch(0.2 0.0337 152.0087) position: relative;
  display: block;
  width: var(--book-width);
  height: var(--book-height);
  margin: 1em auto;
  border-radius: 2px 4px 4px 2px;
  background: linear-gradient(45deg, #007439 0%, #0b2a18 100%);
  -webkit-box-shadow: 13px 13px 8px 0px var(--shadow);
  -moz-box-shadow: 13px 13px 8px 0px var(--shadow);
  box-shadow: 13px 13px 8px 0px var(--shadow);
  font-weight: 400;
  color: #2b2b2b;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
}

.book-container .book:hover {
  -webkit-transform: rotate3d(0, 1, 0, 35deg);
  -moz-transform: rotate3d(0, 1, 0, 35deg);
  transform: rotate3d(0, 1, 0, 35deg);
}

.book-container .book > div,
.book-container .front > div {
  display: block;
  position: absolute;
}

.book-container .front {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(0, 0, 20px);
  -moz-transform: translate3d(0, 0, 20px);
  transform: translate3d(0, 0, 20px);
  z-index: 10;
}

.book-container .front > div {
  width: var(--book-width);
  height: var(--book-height);
}

.book-container .left-side {
  width: 40px;
  left: -20px;
  height: var(--book-height);
  background-color: #0b2a18;
  -webkit-transform: rotate3d(0, 1, 0, -90deg);
  -moz-transform: rotate3d(0, 1, 0, -90deg);
  transform: rotate3d(0, 1, 0, -90deg);
}

.book-container .front > div {
  border-radius: 0 3px 3px 0;
  box-shadow: inset 4px 0 10px rgba(0, 0, 0, 0.1);
}

.book-container .front:after {
  content: "";
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: -1px;
  width: 1px;
}

.book-container .cover:after {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  width: 3px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}

.cover {
  background: linear-gradient(45deg, #dad5dc 0%, #f2ebf4 100%);
}
